<div class="card shadow-sm">
    <div class="card-header">
      <h5 class="card-title mb-0">Treść dokumentu</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="content" class="form-label">Treść:</label>
          <textarea id="content" formControlName="content" class="form-control"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Dodaj</button>
      </form>
    </div>
  </div>
  