<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Task app</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/person-form" routerLinkActive="active">Dane osobowe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/text-entry-form" routerLinkActive="active">Treść</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pdf-generator" routerLinkActive="active">Generuj PDF</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
